github "ReactiveX/RxSwift" ~> 5.0
github "RxSwiftCommunity/RxSwiftExt" ~> 5.2.0
github "RxSwiftCommunity/RxDataSources" ~> 4.0
github "RxSwiftCommunity/RxGesture" ~> 3.0
github "SwifterSwift/SwifterSwift" ~> 5.1.0
github "scenee/FloatingPanel" ~> 1.7.1
github "mmick66/CalendarView" ~> 1.8.2
github "patchthecode/JTAppleCalendar" "master"
github "DaveWoodCom/XCGLogger" ~> 7.0.0
github "adamshin/SwiftReorder" ~> 7.2

